﻿@page "/allfiles"
@using System.IO
@using System.Net.Http.Json
@using DocuRISE.Shared.Models.Document;
@using DocuRISE.Client;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.DependencyInjection
@inject HttpClient HttpClient
@using System.Text.Json
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRunTime
@attribute [Authorize(Roles = "Administrator")]

<h3 class="title">All Documents</h3>
<div class="row mb-3">
    <div class="col-md-7">
        <NavLink href="/uploadfile" class="btn btn-sm btn-success mb-2">Upload file</NavLink>
    </div>
</div>

<div class="table-container">
<table>
    <thead class="table-headers">
    <tr class="table-row">
        <th class="table-col-headers">File Name</th>
        <th class="table-col-headers">Company</th>
        <th class="table-col-headers">Document type</th>
        <th class="table-col-headers">Status</th>
                <th class="table-col-headers"></th>
    </tr>
    </thead>
    <tbody class="table-body">
    @foreach (var file in files)
    {
        <tr class="table-row">
            <td class="table-col-input">@file.FileName</td>
            <td class="table-col-input">@file.CompanyName</td>
            <td class="table-col-input">@file.DocumentType</td>
            <td class="table-col-input">@file.Status</td>
                    <td><button class="btn btn-outline-primary ms-3" @onclick="@(()=>DownloadSelectedFile(file.FileName))">Download</button></td>
        </tr>
            
    }
    </tbody>
</table>
</div>

@code {
    List<FileListingModel> files = new List<FileListingModel>();

    protected override async Task OnInitializedAsync()
    {
        var response = await HttpClient.GetAsync("/api/file/GetAll");
        var returnedlist = await response.Content.ReadAsStringAsync();

        List<FileListingModel>? renderedFiles = JsonSerializer.Deserialize<List<FileListingModel>>(returnedlist, new JsonSerializerOptions() {PropertyNameCaseInsensitive = true });

        files = renderedFiles;
    }

    private async Task DownloadSelectedFile(string fileName)
    {
        var response = await HttpClient.GetAsync($"/api/file/{fileName}");

        if (!response.IsSuccessStatusCode)
        {
            await jsRunTime.InvokeVoidAsync("alert", "File Fetch Failed");
        }
        var resultStream = await response.Content.ReadAsStreamAsync();

        using (var streamRef = new DotNetStreamReference(stream: resultStream))
        {
            await jsRunTime.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
        }
    }
}