﻿@page "/uploadfile"
@using System.IO
@using System.Net
@using System.Net.Http.Json
@using System.Runtime.CompilerServices
@using DocuRISE.Shared.Models;
@using DocuRISE.Client;
@using DocuRISE.Shared.Models.Document
@using DocuRISE.Shared.Models.User
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.Extensions.DependencyInjection
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRunTime
@attribute [Authorize(Roles = "Administrator")]

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}
@if (!string.IsNullOrEmpty(SuccessMessage))
{
    <div class="alert alert-success">@SuccessMessage</div>
}
<h3 class="title">Upload File</h3>
<div class="container">
    <EditForm class="form" Model="@filePdf">
        <ErrorsList ShowErrors="ShowErrors" Errors="Errors" />
        <SuccessList ShowSuccess="ShowSuccess" Successses="Successses" />
        <div class="field">
            <div class="label-input">
                <i class="fa fa-building"></i>
                <label for="CompanyName">Company name</label>
            </div>
            <InputText class="input" id="CompanyName" @bind-Value="@filePdf.CompanyName" />
        </div>
        <div class="field">
            <div class="label-input">
                <i class="fa fa-filter"></i>
                <label for="DocumentType">Document Type</label>
            </div>
            <InputSelect id="DocumentType" @bind-Value="@filePdf.DocumentTypeId">
                <option value="">Choose a document type</option>
                @foreach (var type in types)
                {
                    <option value="@type.Id">@type.Name</option>
                }
            </InputSelect>
        </div>
        <div class="field">
            <div class="label-input">
                <i class="fa fa-file"></i>
                <label for="File">File</label>
            </div>
            <InputFile OnChange="@GetChosenFile"></InputFile>
        </div>
        <button @onclick="()=>HandleFile(chosenFile)" class="button">Upload File</button>
    </EditForm>
</div>


@code {
    private string ErrorMessage { get; set; }
    private string SuccessMessage { get; set; }
    private List<DocumentTypeServiceModel> types = new List<DocumentTypeServiceModel>();
    private FileUploadModel filePdf = new FileUploadModel();
    private long maxFileSize = 1024 * 500;
    private List<string> allowedTypes { get; set; } = new List<string>() { ".pdf" };
    private IBrowserFile chosenFile;

    protected override async Task OnInitializedAsync()
    {
        types = await GetDocumentType();
        StateHasChanged();
    }

    private async Task<List<DocumentTypeServiceModel>> GetDocumentType()
    {
        try
        {
            return await HttpClient.GetFromJsonAsync<List<DocumentTypeServiceModel>>("/api/file/getDocumentType");
        }
        catch (Exception)
        {
            ErrorMessage = "An error occurred while retrieving document type.";
            return new List<DocumentTypeServiceModel>();
        }
    }

    private async Task GetChosenFile(InputFileChangeEventArgs e)
    {
        //await Task.Run(() => chosenFile = e.File);
        chosenFile = e.File;
    }

    private async Task HandleFile(IBrowserFile e)
    {
        var file = e;
        using var content = new MultipartFormDataContent();
        var memoryStream = new MemoryStream();

        try
        {
            await file.OpenReadStream().CopyToAsync(memoryStream);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            throw;
        }

        var byteContent = new ByteArrayContent(memoryStream.ToArray());
        byteContent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(file.ContentType);

        content.Add(content: byteContent, name: "file", fileName: file.Name);

        var response = await HttpClient.PostAsync("/api/file/UploadFile", content);
        var responseReturned = await response.Content.ReadAsStringAsync();

        if (responseReturned != string.Empty)
        {
            var document = new FileUploadModel
                {
                    FileName = e.Name,
                    Path = responseReturned,
                    CompanyName = filePdf.CompanyName,
                    DocumentTypeId = filePdf.DocumentTypeId
                };

            var finalresponse = await HttpClient.PostAsJsonAsync("/api/file/UploadToDb", document);

            if (!finalresponse.IsSuccessStatusCode)
            {
                if (finalresponse.StatusCode == HttpStatusCode.BadRequest)
                {
                    var errorResponse = await finalresponse.Content.ReadAsStringAsync();
                    ErrorMessage = errorResponse;
                }
                else
                {
                    ErrorMessage = "Failed to upload the file in database. Please try again.";
                }
            }
            else
            {
                NavigationManager.NavigateTo("/home");
            }
        }
    }
}


