﻿@*@page "/File-Managment"
<h1>Documents</h1>

<div class="row mb-3">
    <div class="col-md-7">
        <NavLink href="/uploadfile" class="btn btn-sm btn-success mb-2">Upload file</NavLink>
    </div>
    <div class="col-md-7">
        <NavLink href="/allfiles" class="btn btn-sm btn-success mb-2">All files</NavLink>
    </div>
</div>


@code {

}*@