﻿@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid justify-content-end">
                <div class="me-3"> Hello, @context.User.Identity.Name!</div>
                <a class="nav-header-link" href="LogOut">Logout</a>
            </div>
        </nav>
    </Authorized>
    <NotAuthorized>
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid justify-content-end">
                <a class="nav-header-link" href="login">Log in</a>
            </div>
        </nav>
    </NotAuthorized>
</AuthorizeView>

@code{
    //private async Task BeginSignOut(MouseEventArgs args)
    //{
    //    await SignOutManager.SetSignOutState();
    //    Navigation.NavigateTo("authentication/logout");
    //}
}
