﻿@*<div class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center w-100">
            <a class="navbar-brand" href="#" style="flex: 1;">DocuRISE</a>
            <div>
                <LoginDisplay />
            </div>
        </div>
    </div>
</div>

<div class="page">
    <div class="sidebar">
        <div class="@NavMenuCssClass">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/File-Managment" Match="NavLinkMatch.All">
                        <span><i class="fa fa-file"></i></span>
                        <span class="icon-text-space">File Management</span>
                    </NavLink>
                    <NavLink class="nav-link" href="/register" Match="NavLinkMatch.All">
                        <span><i class="fas fa-user-alt"></i></span>
                        <span class="icon-text-space">Users</span>
                    </NavLink>
                </div>
            </nav>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}*@