﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">DocuRISE</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<AuthorizeView>
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                @*<NavLink class="nav-link" href="File-Managment" Match="NavLinkMatch.All">
                <span><i class="fa fa-file"></i></span>
                <span class="icon-text-space">File Management</span>
            </NavLink>*@
                <NavLink class="nav-link" href="/allfiles" Match="NavLinkMatch.All">
                    <span><i class="fa fa-file"></i></span>
                    <span class="icon-text-space">All Documents</span>
                </NavLink>
                <NavLink class="nav-link" href="/usersList" Match="NavLinkMatch.All">
                    <span><i class="fas fa-user-alt"></i></span>
                    <span class="icon-text-space">Users</span>
                </NavLink>
            </div>
        </nav>
    </div>
</AuthorizeView>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}