﻿@page "/usersList"
@using DocuRISE.Shared.Models.User
@using Microsoft.AspNetCore.Authorization
@inject HttpClient HttpClient
@inject Microsoft.AspNetCore.Components.NavigationManager UriHelper
@attribute [Authorize(Roles = "Administrator")]
<h1 class="title">Users</h1>
<br />
<div class="row mb-3">
    <div class="col-md-7">
        <NavLink href="/register" class="btn btn-sm btn-success mb-2">Add User</NavLink>
        @*<NavLink href="" class="btn btn-sm btn-success mb-2">Delete User</NavLink>*@
    </div>
   @* <div class="input-group col-md-5 text-md-right">
    <input name="UserSearchInput" type="text" class="form-control" placeholder="User Name" @bind="this.SearchTerm" @onkeyup="SearchBoxKeyPress" />
    <div class="input-group-btn">
    <button name="UserSearchButton" class="btn btn-default" @onclick="SearchClick">
    <i class="oi oi-magnifying-glass" title="search" aria-hidden="true"></i>
    </button>
    </div>
    <div class="input-group-btn">
    <button name="UserSearchClear" class="btn btn-default" @onclick="ClearSearch">
    <i class="oi oi-x" title="clear" aria-hidden="true"></i>
    </button>
    </div>
    </div>*@
</div>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-container">
        <table>
            <thead clas="table-headers">
                <tr class="table-row">
                    <th class="table-col-headers">First name</th>
                    <th class="table-col-headers">Last name</th>
                    <th class="table-col-headers">Company name</th>
                    <th class="table-col-headers">Documents</th>
                </tr>
            </thead>
            <tbody class="table-body">
                @foreach (var user in users)
                {
                    <tr class="table-row">
                        <td class="table-col-input">@user.FirstName</td>
                        <td class="table-col-input">@user.LastName</td>
                        <td class="table-col-input">@user.CompanyName</td>
                        <td class="table-col-input">
                            <NavLink href="@($"/documents")" class="oi oi-eye text-primary nounderline"></NavLink>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @* <Pager Result=@users PageChanged=PagerPageChanged />*@
}

@code {
    [Parameter]
    public string Page { get; set; } = "1";
    [Parameter]
    public string SearchTerm { get; set; } = string.Empty;
    protected List<UsersViewServiceModel> users;
    private string ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        users = await GetAllUsers();
    }

    private async Task<List<UsersViewServiceModel>> GetAllUsers()
    {
        try
        {
            return await HttpClient.GetFromJsonAsync<List<UsersViewServiceModel>>("/api/user/getAllUsers");
        }
        catch (Exception)
        {
            ErrorMessage = "An error occurred while retrieving users.";
            return new List<UsersViewServiceModel>();
        }
    }


    //protected override void OnInitialized()
    //{
    //    PageHistoryState.AddPageToHistory(UriHelper.Uri);
    //    base.OnInitialized();
    //}

    //protected override async Task OnParametersSetAsync()
    //{
    //    users = await UserService.GetUsers(null, Page);
    //    PageHistoryState.AddPageToHistory(UriHelper.Uri);
    //}

    //protected async Task SearchBoxKeyPress(KeyboardEventArgs ev)
    //{
    //    if (ev.Key == "Enter")
    //    {
    //        await SearchClick();
    //    }
    //}

    //protected async Task SearchClick()
    //{
    //    if (string.IsNullOrEmpty(SearchTerm))
    //    {
    //        users = await UserService.GetUsers(null, Page);
    //        return;
    //    }
    //    users = await UserService.GetUsers(SearchTerm, Page);
    //    StateHasChanged();
    //}

    //protected async Task ClearSearch()
    //{
    //    SearchTerm = string.Empty;
    //    users = await UserService.GetUsers(SearchTerm, Page);
    //    PageHistoryState.AddPageToHistory(UriHelper.Uri);
    //    StateHasChanged();
    //}

    //protected void PagerPageChanged(int page)
    //{
    //    UriHelper.NavigateTo("/user/" + page);
    //    PageHistoryState.AddPageToHistory(UriHelper.Uri);
    //}

    //private async void DeleteUser(User _user)
    //{
    //    var user = _user;
    //    user.IsDeleting = true;
    //    await UserService.DeleteUser(user.Id);
    //    users = await UserService.GetUsers(null, Page);
    //    StateHasChanged();
    //}
}
