﻿@page "/register"
@using DocuRISE.Client.Services;
@using DocuRISE.Shared.Models.User
@using System.Net
@using Microsoft.AspNetCore.Authorization;
@using static DocuRISE.Common.GlobalConstants
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@attribute [Authorize(Roles = $"{FacilityManagerAdministratorRoleName}, {CompanyAdministratorRoleName}")]

<h3 class="title">Register</h3>

@if (ShowErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors)
        {
            <p>@error</p>
        }
    </div>
}

else if (SuccessfulRegistration)
{
    <div class="alert alert-success" role="alert">
        <p>Registration was successful!</p>
    </div>
}

<div class="container">
    <EditForm class="form" Model="@RegisterModel" OnValidSubmit="HandleRegistration">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="field">
            <div class="label-input">
                <i class="fa fa-angle-double-down"></i>
                <label for="RoleId">Role</label>
            </div>
            <InputSelect id="RoleId" @bind-Value="@RegisterModel.RoleId">
                <option value="">Choose a role</option>
                @foreach (var role in roles)
                {
                    <option value="@role.Id">@role.Name</option>
                }
            </InputSelect>
        </div>

        <div class="field">
            <div class="label-input">
                <i class="fa fa-user"></i>
                <label for="FirstName">First name</label>
            </div>
            <InputText class="input" id="FirstName" @bind-Value="@RegisterModel.FirstName" />
        </div>
        <div class="field">
            <div class="label-input">
                <i class="fa fa-user"></i>
                <label for="LastName">Last name</label>
            </div>
            <InputText class="input" id="LastName" @bind-Value="@RegisterModel.LastName" />
        </div>
        <div class="field">
            <div class="label-input">
                <i class="fa fa-envelope"></i>
                <label for="Email">Email</label>
            </div>
            <InputText class="input" id="Email" @bind-Value="@RegisterModel.Email" />
        </div>
        <div class="field">
            <div class="label-input">
                <i class="login__icon fas fa-lock"></i>
                <label for="Password">Password</label>
            </div>
            <InputText class="input" type="password" id="Password" @bind-Value="@RegisterModel.Password" />
        </div>
        <div class="field">
            <div class="label-input">
                <i class="fa fa-building"></i>
                <label for="CompanyName">Company name</label>
            </div>
            <InputText class="input" id="CompanyName" @bind-Value="@RegisterModel.CompanyName" />
        </div>
        <button type="submit" class="button">Register</button>
    </EditForm>
</div>

@code {

    protected UserRegisterRequestModel RegisterModel = new UserRegisterRequestModel();
    private bool ShowErrors;
    private IEnumerable<string> Errors;
    private List<RoleServiceModel> roles = new List<RoleServiceModel>();
    private bool SuccessfulRegistration;

    private async Task HandleRegistration()
    {
        ShowErrors = false;
        SuccessfulRegistration = false;

        var result = await AuthService.Register(RegisterModel);

        if (result.Successful)
        {
            NavigationManager.NavigateTo("/register");

            RegisterModel.RoleId = default;
            RegisterModel.FirstName = string.Empty;
            RegisterModel.LastName = string.Empty;
            RegisterModel.Email = string.Empty;
            RegisterModel.Password = string.Empty;
            RegisterModel.CompanyName = string.Empty;

            SuccessfulRegistration = true;
        }
        else
        {
            Errors = result.Errors;
            ShowErrors = true;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var allRoles = await GetRoles();
        roles = allRoles
        .Where(r => r.Name != FacilityManagerAdministratorRoleName)
        .ToList();
        StateHasChanged();
    }

    private async Task<List<RoleServiceModel>> GetRoles()
    {
        try
        {
            var result = await HttpClient.GetFromJsonAsync<List<RoleServiceModel>>("/api/user/getRoles");
            return result;
        }
        catch (Exception)
        {
            Errors = new List<string> { "An error occurred while retrieving roles." };
            return new List<RoleServiceModel>();
        }
    }
}